output {
    white-space: pre;
}
body {
    background: lightblue;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
textarea {
    width: 500px;
    padding: 1rem;
}
h1 {
    text-align: center;
}
button {
    font-family: "JetBrains Mono", monospace;
}
output {
    border: thin solid navy;
    padding: 1rem;
    display: block;
    margin: 1rem;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: auto;
    resize: both;
}
output:empty {
    display: none;
}
output:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 100%;
    background: green;
}
.error:before {
    background: red;
}
#svg-output {
    width: 900px;
    height: 10rem;
    outline: green;
}