:root {
    --filled: green;
    --filled-text: black;
    --unfilled: white;
    --unfilled-text: black;
}
output {
    white-space: pre;
}
body {  
    background: lightblue;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
textarea {
    width: min(500px, 80vw);
    padding: 1rem;
    font-size: 20px;
    height: 10rem;
}
h1 {
    text-align: center;
}
button {
    font-family: "JetBrains Mono", monospace;
    font-size: 2rem;
}
output {
    border: thin solid navy;
    padding: 1rem;
    display: block;
    margin: 1rem;
    position: relative;
    width: 800px;
    min-height: 300px;
    resize: both;
    max-width: 90vw;
}
output:empty {
    display: none;
}
output:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 100%;
    background: green;
}
.error:before {
    background: red;
}
#svg-output {
    margin: 1rem;
    outline: thin solid green;
    overflow: scroll;
}
.output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}